$bg-light-blue: #eff1fd;
$light-blue: #d2dbfe;

@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin grid1() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

.nav-body {
  //   display: none;
  position: absolute;
  z-index: 3;
  width: 20%;
  height: 100vh;
  background-color: #fdfdff;
  display: flex;
  justify-content: center;

  .nav-container {
    font-family: "Nunito";
    display: flex;
    // align-items: flex-start;
    flex-direction: column;
    // margin: 1em;
    margin: 1em 0;
    width: 80%;
    span {
      margin-right: 1em;
    }
    .name {
      @include flex(left);
      padding: 0 1em;
      font-weight: 600;
      img {
        height: 2em;
        margin-right: 0.5em;
      }
      p {
        margin: 0;
        font-weight: 700;
        font-size: 1.25rem;
      }
      margin-bottom: 1.5em;
    }
    .nav-items {
      font-weight: 600;
      list-style: none;
      width: 100%;
      img {
        height: 1.25em;
        width: 1.25em;
        margin-right: 0.75em;
      }
      li {
        cursor: pointer;
        @include flex(left);
        margin-bottom: 0.75em;
        border-radius: 8px;
        p {
          align-self: center;
          margin: 0;
        }
        padding: 0.75em 1em;
      }
      .show-1-1,
      .show-2-2,
      .show-3-3,
      .show-4-4, .show-5-5 {
        background-color: $light-blue;
      }
    }
  }
}
