$bg-light-blue: #eff1fd;

@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin grid1() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

.safezone-body {
  // font-family: "Poppins";
  font-family: "Nunito";
  height: 100vh;
  width: 100vw;
  background-color: $bg-light-blue;
  position: relative;
  top: 0;
  z-index: 1;
  .top {
    top: 0;
    position: relative;
    height: 10vh;
    select {
      margin-left: 50vw;
    }
  }
  .chart {
    width: 95%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dataResult::-webkit-scrollbar {
  display: none;
}
p {
  text-decoration: none;

  &:hover {
    // background-color: lightgrey;
    cursor: pointer;
  }
}

#clearBtn {
  cursor: pointer;
}

input {
  font-family: "Nunito";
}

.footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  min-height: 30vh;
  .address {
    max-width: 65%;
    p:nth-child(1) {
      font-weight: 600;
    }
    p:nth-child(2) {
      margin-top: 1em;
      border-radius: 5px;
      border: 1px solid black;
      padding: 0.5em 0.75em;
    }
  }

  .right {
    height: 100%;
    @include flex(center);
    flex-direction: column;
    input {
      border: 2px solid black;
      padding: 0.25em 0.5em;
      font-size: 1.2rem;
      border-radius: 5px;
    }
    button {
      margin-top: 1em;
      padding: 0.5em 1em;
      background-color: $bg-light-blue;
      // border: 1px solid black;
      border: none;
      border-radius: 5px;
      filter: drop-shadow(-2px 2px 5px rgba(0, 0, 0, 0.5));
    }
  }
}

.search {
  border: 1px solid black;
  z-index: 1;
  position: absolute;
  width: 30vw;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  .searchInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    input {
      //   margin-left: 50vw;
      border: none;
      background-color: transparent;
      font-size: 1rem;
      padding: 0 0.5em;
      height: 30px;
      color: black;
      &:focus {
        outline: none;
      }
    }
  }

  .searchIcon {
    width: 50px;
    background-color: transparent;
    display: grid;
    place-items: center;
    transform: translateX(-10%);
  }

  .dataResult {
    display: none;
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-x: hidden;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    .dataItem {
      width: 100%;
      // height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      // border: 2px solid black;
      p {
        padding: 0 0.5em;
        margin: 20px 0;
      }
      &:hover {
        background-color: #919191;
      }
      .line {
        height: 2px;
        width: 100%;
        background-color: black;
      }
    }
  }
  &:hover .dataResult {
    display: block;
  }
}
